<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">About me</h1>
    <div class="row">
      <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id dolor porttitor, scelerisque nisl ut, tristique lacus. Morbi sed nisi finibus, tristique urna at, laoreet lorem. Aliquam scelerisque, urna eget ultricies porttitor, orci dui eleifend neque, vel placerat lectus nibh quis diam. Morbi finibus felis ipsum, eget tempus mi faucibus a. Donec at odio id nulla tempus interdum. Aenean sed felis eu tortor mattis posuere ac ut augue. Aliquam sit amet neque ut odio vestibulum porta convallis a elit. Etiam et posuere erat.
        <br>
        <br>
        Mauris suscipit enim vitae odio malesuada, vitae convallis massa ornare. Pellentesque sit amet convallis lectus. Nunc ipsum lacus, ultricies ut volutpat vitae, ultrices id sem. Nulla non arcu ac felis sollicitudin condimentum id a lectus. Pellentesque imperdiet finibus accumsan. Sed nec tempus tellus, non rutrum justo. Ut ac neque sit amet sem consectetur commodo a in nunc. Maecenas blandit, lacus non sodales posuere, est eros sodales nibh, vel convallis ex urna at elit. Etiam mi neque, mattis ac augue vel, semper vulputate leo. Phasellus sed tempus nibh, scelerisque ultrices magna. Vestibulum pellentesque eget lorem in egestas.
      </p>
      <hr class="my-4"/>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" onclick="window.location.href = 'https://facebook.com';" class="btn btn-secondary">Facebook</button>
      <button type="button" onclick="window.location.href = 'https://twitter.com';" class="btn btn-secondary">Twitter</button>
      <button type="button" onclick="window.location.href = 'https://instagram.com';" class="btn btn-secondary">Instagram</button>
      <button type="button" onclick="window.location.href = 'https://youtube.com';" class="btn btn-secondary">Youtube</button>
    </div>
  </div>
</div>
