<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h1>My Blog <strong>is</strong> the <strong>true solution</strong>!</h1>
    <p>Inspire life and people around you with My Blog.</p>
    <a class="btn btn-danger" <%= link_to "Suscribe", new_user_registration_path %> </a>
  </div>
</div>
